<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link th:href="@{/css/templatemo_style.css}" rel="stylesheet"
	type="text/css" />
<title>Change Password</title>
</head>
<body>
	<div id="templatemo_container">
		<div id="templatemo_menu">
			<ul>
				<li><a th:href="@{/admin}">Home</a></li>
				<li><a href="#" class="current">Search</a></li>
				<li><a href="index.html">Books</a></li>
				<li><a href="index.html">New Releases</a></li>
				<li><a href="#">Company</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
			<div class="user-admin">
				<a th:href="@{/listUser}">List Account</a> <a
					th:href="@{/accountAdmin}">My Account</a> <a th:href="@{/logout}">Logout</a>
			</div>
		</div>
		<br> <br>
		<div id="templatemo_header">
			<div id="templatemo_special_offers">
				<p>
					<span>25%</span> discounts for purchase over $ 40
				</p>
				<a href="#" style="margin-left: 50px;">Read more...</a>
			</div>


			<div id="templatemo_new_books">
				<ul>
					<li>Suspen disse</li>
					<li>Maece nas metus</li>
					<li>In sed risus ac feli</li>
				</ul>
				<a href="#" style="margin-left: 50px;">Read more...</a>
			</div>
		</div>
		<div class="container">
			<h1 class="text-center">CHANGE PASSWORD</h1>
			<div class="row">
				<div class="col-md-4 col-md-offset-4">
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="text-center">
								<h3>
									<i class="glyphicon glyphicon-lock" style="font-size: 2em;"></i>
								</h3>
								<div class="panel-body">

									<div th:if="${param.success}">
										<script type="text/javascript">
											window.location.href = "/accountAdmin";
										</script>
									</div>

									<form th:action="@{/accountAdmin/changePassAdmin}"
										th:object="${person}" method="post">

										<input type="hidden" id="userName" name="userName"
											th:value="${person.userName}">

										<p class="error-message" th:if="${#fields.hasGlobalErrors()}"
											th:each="error : ${#fields.errors('global')}"
											th:text="${error}">Validation error</p>

										<div class="form-group"
											th:classappend="${#fields.hasErrors('password')}? 'has-error':''">
											<div class="input-group">
												<span class="input-group-addon"> <i
													class="glyphicon glyphicon-lock"></i>Password
												</span> <input id="password" class="form-control"
													placeholder="password" type="password"
													th:field="*{password}" />
											</div>
											<p class="error-message"
												th:each="error: ${#fields.errors('password')}"
												th:text="${error}">Validation error</p>
										</div>
										<div class="form-group"
											th:classappend="${#fields.hasErrors('confirmPassword')}? 'has-error':''">
											<div class="input-group">
												<span class="input-group-addon"> <i
													class="glyphicon glyphicon-lock"></i>Confirm Password
												</span> <input id="confirmPassword" class="form-control"
													placeholder="Confirm password" type="password"
													th:field="*{confirmPassword}" />
											</div>
											<p class="error-message"
												th:each="error: ${#fields.errors('confirmPassword')}"
												th:text="${error}">Validation error</p>
										</div>
										<div class="form-group">
											<button type="submit" class="btn btn-block btn-success">Reset
												password</button>
										</div>
									</form>

								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<a th:href="@{/accountAdmin}">back</a>
						</div>
					</div>
				</div>
			</div>
		</div>
			<div id="templatemo_footer">
			<a href="">Home</a> | <a href="index.html">Search</a> | <a
				href="index.html">Books</a> | <a href="#">New Releases</a> | <a
				href="#">FAQs</a> | <a href="#">Contact Us</a><br /> Copyright ©
			2024 <a href="#"><strong>Your Company Name</strong></a>
		</div>
		<script type="text/javascript"
			th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
		<script type="text/javascript"
			th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</body>
</html>